.loading-animate{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.loading-animate ul{
    align-self: center;
    height: 2rem;
}
.loading-animate ul li{
    float: left;
    margin: 0 0.2rem;
    width: 0.6rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #2378e6;
}
.loading-animate ul li:nth-child(1){
    animation: loading-animate infinite 1s ease 0s;
}
.loading-animate ul li:nth-child(2){
    animation: loading-animate infinite 1s ease .2s;
}
.loading-animate ul li:nth-child(3){
    animation: loading-animate infinite 1s ease .4s;
}
.loading-animate ul li:nth-child(4){
    animation: loading-animate infinite 1s ease .6s;
}
.loading-animate ul li:nth-child(5){
    animation: loading-animate infinite 1s ease .8s;
}
@keyframes loading-animate {
    50% {
        transform: scale(1.5);
        background: #66d3e2;
    }
    100% {
        transform: scale(1);
        background: #2378e6;
    }
}

.btn-medium-default,.btn-medium-primary{
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    border-radius: 5%;
    box-shadow: 1px 1px 1px #666;
}
.btn-medium-default{
    background-color: #0f7c9d;
}
.btn-medium-primary{
    background-color: #26a69a;
}
.centered{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#navBar{
    position: fixed;
    left: 1rem;
    top: 50%;
    margin-top: -38px;
}
#navBar > li > a{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
}
#navBar > li.active > a{
    background-color: #fff;
}
.page {
    text-align: center;
    background-color: #4dd0e1;    
}
/*[ #4dd0e1,  #22c3aa, #fb6d7e, #149b70, #19B1E0, ]*/
.page-wrap{
    height: 100%;
    padding: 4rem 1rem 0;
}
.page1 .page-wrap > h2{
    font-size: 2.5rem;
    margin-bottom: .75rem;
    letter-spacing: 3px;
    color: rgba(235,235,235,1);
    text-shadow: 1px 2px 1px #888;
}
.page1 .page-wrap p:nth-child(2){
    font-size: 1.27rem;
    font-family: "Arial Sans-serif";
    margin-bottom: .75rem;
    color: #bcf1f8;
}
.page1 .page-wrap p:nth-child(3){
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
@media screen and (max-width: 400px){
    .page1 .page-wrap p:nth-child(2){
        font-size: 1rem;
    }
}
.page2 .page-wrap > h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.page2 ul.projects{
    min-height: 60%;
    padding: 0 1.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
}
.page2 ul.projects li{
    padding:.5rem 1rem;
    flex: 0 1 30%;
    border: 1px solid #bcf1f8;
    border-radius: .2rem;
    transition: all .75s;
}
.page2 ul.projects li:hover{
    transform: scale(1.1);    
}

.page2 ul.projects li>h4{
    font-size: 1.1rem;
}
.page2 ul.projects li>p:nth-child(2){
    font-size: .8rem;
    text-indent: 2em;
    text-align: left;
    padding:1rem 0;
}
.page2 ul.projects li>p:last-child{
    text-align: left;
}
.page2 ul.projects li>p:last-child>a{
    font-size: .7rem;    
    color: #bcf1f8;
}
.page2 ul.projects li:last-child{
    display: none;
}

@media screen and (max-width: 400px){
    .page2 ul.projects{
        min-height: 60%;
        padding: 0 1.75rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-content: space-around;
    }
    .page2 ul.projects li{
        margin-bottom: .5rem;
        padding:.75rem .25rem;
        flex: 0 1 auto;
        border: 1px solid #bcf1f8;
        border-radius: .2rem;
        transition: all .75s;
    }
    .page2 ul.projects li:nth-child(4),.page2 ul.projects li:nth-child(6){
        display: none;
    }
    .page2 ul.projects li:last-child{
        display: block;
    }
    .page2 ul.projects li>h4{
        font-size: .8rem;
        margin-bottom: .5rem;
    }
    .page2 ul.projects li>p:nth-child(2){
        display: none;
    }
    .page2 ul.projects li>p:last-child{
        font-size: .5rem;
        text-align: center;
    }
    .page2 ul.projects li>p:last-child>a{
        font-size: .5rem;
    }
}
.page3 .page-wrap > h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.skill-wrap{
    display: flex;
    flex-flow: row nowrap;
}
.skill-wrap > ul{
    flex: 0 1 50%;
    padding: 1.5rem 2rem 0 4rem;
}
.skill-wrap > ul > li{
    margin-bottom: 1.5em;
    text-align: left;
    line-height: 1.25rem;
    transition: all .5s;
}
.skill-wrap > ul > li:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 400px){
    body{
        font-size: 12px;
    }
    .page3 .page-wrap > h2{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .skill-wrap{
        display: flex;
        flex-flow: row nowrap;
    }
    .skill-wrap > ul{
        flex: 0 1 50%;
        padding: 1.5rem 0 0 2rem;
    }
    .skill-wrap > ul > li{
        font-size: .5rem;
        margin-bottom: .5em;
        text-align: left;
        line-height: 1rem;
        transition: all .5s;
    }
    
}
.page4 .page-wrap > h2{
    font-size: 2.5rem;
    text-shadow: 3px 3px 3px #999;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.page4 .page-wrap .work-exp h4{
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
.page4 .page-wrap .work-exp h4>span{
    font-size: 1.5rem;
    vertical-align: baseline;
}
.page4 .page-wrap .work-exp>span{
    color: rgba(230,230,230,1);
}
.page4 .page-wrap .work-exp>p{
    margin-top: 1rem;
}
@media screen and (max-width:400px){
    .page4 .page-wrap > h2{
        font-size: 2rem;
        text-shadow: 2px 2px 2px #9f9f9f;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .page4 .page-wrap .work-exp h4{
        font-size: .8rem;
        margin-bottom: .5rem;
    }
    .page4 .page-wrap .work-exp h4>span{
        font-size: 1.1rem;
        vertical-align: baseline;
    }
    .page4 .page-wrap .work-exp>span{
        color: rgba(230,230,230,1);
    }
    .page4 .page-wrap .work-exp>p{
        margin-top: 1rem;
        line-height: 1.2rem;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}
.page5 {
    position: relative;
}
.page5 .page-wrap > h2{
    font-size: 2rem;
    color: rgb(230,230,230);
    margin-bottom: 3rem;
}
.page5 .page-wrap > dl{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: row wrap;
}
.page5 .page-wrap > dl > dt{
    flex: 0 1 47%;
    text-align: right;
    padding-right: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.page5 .page-wrap > dl > dd{
    flex: 0 1 53%;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: .5rem;      
}
.resume-profile a{
    margin-right: 1rem;
    transition: all .5s;
}
.resume-profile a:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 4px #666;
}
.send-me{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin-left: -6rem;
}
@media screen and (max-width: 400px){
    .page5 {
        position: relative;
    }
    .page5 .page-wrap > h2{
        font-size: 2rem;
        color: rgb(230,230,230);
        margin-bottom: 2rem;
    }
    .page5 .page-wrap > dl{
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: row wrap;
    }
    .page5 .page-wrap > dl > dt{
        flex: 0 1 43%;
        text-align: right;
        padding-right: .5rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    .page5 .page-wrap > dl > dd{
        flex: 0 1 57%;
        text-align: left;
        margin-top: .5rem;
        margin-bottom: .5rem;      
    }
    .resume-profile a{
        text-align: center;
        margin-right: 1rem;
        margin-left: .75rem;
        transition: all .5s;
    }
    .resume-profile a:hover{
        transform: scale(1.1);
        box-shadow: 4px 4px 4px #666;
    }
    .send-me{
        margin-left: -4rem;
    }
}