body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(240,240,240,1);
}
body{
    font-size: 14px;
}


.page {
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
    background-color: #4dd0e1;    
}
/*[ #4dd0e1,  #22c3aa, #fb6d7e, #149b70, #19B1E0, ]*/

.page-wrap{
    height: 100%;
    padding: 4em 1em;
}

.centered{
    display: flex;
    flex-flow: column;
    justify-content: center;
}